{% extends 'base.html' %}

{% block title %}
Gallery
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% for filepart in files | slice(4) %}
<div class="row">
    {% for file in filepart %}
    <div class="three columns">
        <a href="{{ url_for('gallery.download_file', filename=file )}}" data-lightbox="lightbox-group-1">
            <img class="lightbox-thumbnail u-max-full-width"
                 src="{{url_for( 'gallery.download_file', filename=file )}}">
            <!-- <img class="lightbox-thumbnail" src="{{url_for('static',filename=file)}}" >-->
        </a>
    </div>
    {% endfor %}
</div>
{% endfor%}
{% endblock %}
