img {
    max-width: 100%,
    height: auto;
}

.content {
    min-height: calc(100vh-70px);
}

.footer {
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    }

.relative {
    position: relative;
}
/*nav li {
    color: #8a8a8a;
	display:block;
	list-style-type: none;
	padding:35px  6px;
	margin: 0 100px;
	box-sizing: border-box;
}
nav li a {
	font-weight:bold;
	text-transform:uppercase;
	border:4px double #C4C4C4;
	color:#323442;
	padding:10px 33%;
	transition:all .3s;
	outline:none;
	letter-spacing: 5px;
}
nav li a:hover {
	border:15px solid #868690;
	color:#484C61;
	*//*box-shadow:6px 7px #383A4A;*//*
	transition:all .35s;
	letter-spacing: 7px;*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
}
nav li {
    padding-top: 15%;
	float: left;
}

nav li a{
    display: inline-block;
	font-weight:bold;
	text-transform:uppercase;
	text-align: center;
    border-bottom: 1px solid transparent;
    color: #8a8a8a;
	padding:1px;
}

nav li a:hover{
    font-weight: bolder;
    color: #222;
    border-color: #222;
    transition: border 0s ease-out;
}
/*nav li a {
    text-decoration: none;
    font-weight: bold;
    padding: 0 0 2px 0;
    -webkit-transition: border .25s ease-out;
    -moz-transition: border .25s ease-out;
    -o-transition: border .25s ease-out;
    transition: border .25s ease-out;
}

nav li a:hover {
    color: #222;
    border-color: #222;
    -webkit-transition: border 0s ease-out;
    -moz-transition: border 0s ease-out;
    -o-transition: border 0s ease-out;
    transition: border 0s ease-out;
}*/
