
body {
    padding-top: 65px;
    font: 18px "Montserrat", sans-serif;
    line-height: 1.8;
}

.mainimage{

    background: url(blueYellowSwatch.jpg) center center;
    background-size: cover;

}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}
/* Add a dark background color with a little bit see-through */

.navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 16px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
/*    color: #d5d5d5 !important;*/
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #585556 !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #29292c !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

custfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/*img {
    max-width: 100%;
    height: auto;
}

.title {
    padding: 1.5em;
    text-align: center;
}

.indeximage {
    !*    background-image: url({{ url_for('static', filename='blueGreenSwatch.jpg') }});*!
    height: auto;
    width: 100%;
    !*    background-position: center;*!
    position: relative;
    !*    left: 0px;
        top: 0px;*!
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


i {
    padding: .5em;
    font-size: 36px;
    color: #8a8a8a;
}

.center h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.relative {
    position: relative;
}

nav ul {
    list-style-type: none;
    letter-spacing: .1em;
    line-height: 2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    padding-top: 1.5em;
    float: left;
}

nav li a {
    display: inline-block;
    width: 5em;
    padding: .5em;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid transparent;
    transition: border .25s ease-out;
    color: #8a8a8a;
}

nav li a:hover {
    color: #222;
    border-color: #222;
    transition: border 0s ease-out;
}*/
