{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="row">
        <div class="six columns">
        <label for="username">Username</label>
        <input class="u-full-width" type="text" name=username id="username" required>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" name=password id="password" required>
        </div>
    </div>
    <div class="row">
    <input type="submit" value="Log In">
    </div>
</form>
{% endblock %}
