<!doctype html>
<title>{% block title %}{% endblock %} - AEH</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
<nav>
  <ul>
    <!-- {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
    -->
  </ul>
</nav>
<div>


        <header>
            <div class="one-third column u-pull-left">
                <!--<img class="u-max-full-width" src="/static/Signature.jpg">-->
                <img class=""u-max-full-width" src="/static/BlueGreenSwatch.jpg">
            </div>
            <div class="one-third column">
                {% block header %}{% endblock %}
            </div>
            <nav class="one-third column u-pull-right">
                <ul>
                    <li>first</li>
                </ul>
            </nav>
        </header>

    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        <div class ="content">
            {% block content %}{% endblock %}
        </div>

    </div>

    <footer class="footer" >
        {% block footer %}
        {% endblock %}
    </footer>

</div>
